@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de)
}

.header-container{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    padding: 30px 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container > .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}